<div class="container">
    <div class="middle">
        <h1 class="title">Welcome</h1>
        <hr>
        <div>
            <p class="welcome">
              We are very delighted to welcome you as a new member of our company. 
              We strongly believe 
              that your skill and knowledge will help us achieve what we aim for!
              Welcome abroad, Mr. [Name]! You are one of the most talented and
               resourceful candidates we have hired so far. We hope you’ll do some amazing works here!
            </p>
        </div>
      </div>

</div>

