
*{
    margin: 0;
    padding: 0;
}



#container{
    width: 95%;
    
    margin-left: auto;
    margin-right: auto;
}



.myInfo{
  text-align: justify;
  margin-left:auto ;
  margin-right:auto ;
  
}

.borderless{
border: none;
}
.table{
  border-top: none;
  border-bottom: none;
}

.logo{
  height: 220px;
  margin-top:auto ;
  margin-bottom:auto ;
  
}

.signature{
    padding-top: 16px;
}

.center{
    text-align: center;
    display: block;
}

.destinataire{
margin-bottom: 80px;
}

.table-header{
width: 100%;
}


@media screen {
    .footer {
      display: none;
    }
  }


  .option{
    margin: 16px;
    padding: 5px;
  }
  
@page {  

    size: A4;
    margin: 0 ;
  }

@media print{
  .no-print{
    display:none;
  }
    .content{     
           
        width: 100%;
        margin: auto;
        z-index: 10;
        display: block;
    }
    .header {
      
      }
      .footer {
        position: fixed;
        bottom: 0;
      }
    
}


.header{
    height: 220px;
}
.footer, .footer-space {
  height: 100px;
}

