
<div class="search-div">
<a [routerLink]="[ '/MesProjet/create']">
    <button mat-raised-button>
      <mat-icon>add</mat-icon>Create
    </button>
  </a>
 

  <mat-form-field class="search-form-field" floatLabel="never" appearance="fill">
    <input matInput  placeholder="Search" autocomplete="off" [(ngModel)]="searchKey"  (keyup)="applyFilter($event)" >
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  

</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="Designation">
      <th  [ngClass]="'table-dark'" mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
      <td mat-cell *matCellDef="let row"><a mat-flat-button  [routerLink]="[ '/MesProjet/projet', row.id_projet ]">{{row.Designation}}</a></td>
    </ng-container>

   

     <!-- Id Column -->
    <ng-container matColumnDef="N_BNC">
      <th  [ngClass]="'table-dark'" mat-header-cell *matHeaderCellDef mat-sort-header>N°BNC</th>
      <td mat-cell *matCellDef="let row">{{row.N_BNC}}</td>
    </ng-container>
   
      <!-- Id Column -->
      <ng-container matColumnDef="date_debut">
        <th   [ngClass]="'table-dark'" mat-header-cell *matHeaderCellDef mat-sort-header>Date debut</th>
        <td mat-cell *matCellDef="let row">{{row.Date_debut}}</td>
      </ng-container>

      <ng-container matColumnDef="delais">
        <th   [ngClass]="'table-dark'" mat-header-cell *matHeaderCellDef mat-sort-header>Delais</th>
        <td mat-cell *matCellDef="let row">{{row.delais}} J</td>
      </ng-container>

    <ng-container matColumnDef="Options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
      <td mat-cell *matCellDef="let row">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button color="warn" (click)="remove(row?.id_projet)" mat-fab  aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>  
          </div>
      </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10,25, 50, 100, 250]">
  </mat-paginator>
</div>
