table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
th{
  text-align: center;
}
tr{
  text-align: center;
}
  tr:hover{
    text-align: left;
    background-color: red;
    
  }
  td:hover{
    text-align: center;
    color: wheat;
  }
  .btn-option{
    
  }
  